@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 13px
  }

* {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
}

input {
    height: 40px;
    border: 1px solid #484e54;
    padding-left: 20px;
}

input:focus {
    outline: 1px;
    border: 1px solid #093610
}

.outlined-btn {
    border: 1px solid #047857;
    color: #047857;
    padding: 10px 20px;
    height: 40px;
    border-radius: 4px;
    text-transform: uppercase;
}

.contained-btn {
    background-color: #2F4050;
    color: white;
    padding: 5px 20px;
    height: 40px;
    border-radius: 4px;
    text-transform: uppercase;
}

#PlayButton {
    border: 1px solid #047857;
    background-color: #047857;
    color: #fff
}

#PlayButton:disabled {
    border: 1px solid #857e7e;
    background-color: #fff;
    color: #857e7e;
}

#AcceptGameButton {
    border: 1px solid #047857;
    background-color: #047857;
    color: #fff
}

#SaveButton{
    border: 1px solid #047857;
    background-color: #047857;
    color: #fff
}

#RematchButton{
    border: 1px solid #047857;
    background-color: #047857;
    color: #fff
}

#RematchButton:disabled {
    border: 1px solid #857e7e;
    background-color: #fff;
    color: #857e7e;
}


#CancelGameButton {
    border: 1px solid #e10727;
    background-color: #e10727;
    color: #fff
}

#ExitButton {
    border: 1px solid #e10727;
    background-color: #e10727;
    color: #fff
}
#header {
    padding-left: 25px;
    padding-right: 10px;
    display: flex;
    background-color: #2F4050;
}

#header #test #logo {
    width: 50px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-left: 8px;
}
#sidebarButton:hover {
    background-color: #293846;
}

#searchUserBar {
    background-color: #2F4050;
    font-size: 15px;
    margin-top:30px;
}

#friendsArea {
    height: 100%;
    width: 13%;
    background-color: #2F4050;
    padding-right: 10px;
    padding-left: 10px;
}

#friendsArea #friends {
    margin-top: 30px;
}

#body {
    margin: 5px;
    width:100%;
    height: 80vh;
}

#chatArea {
    width: 70%;
    height: 80vh;
}
#homePageArea {
    width: 70%;
    background:url("./pages/home/components/background.jpg");
    background-size: cover;
    background-position: center ;
}

#header {
    margin-left: 5px;
    margin-right: 10px;
}

.Sidebar {
    height: 80vh;
    width: 16%;
    background-color: #2F4050;
}

#root {
    height: 100vh;
}

#login {
    background-color: #293846;
}

#register {
    background-color: #293846;
}

#login #loginCard #logo {
    width: 80px;
    height: 100px;
    margin-left: 100px;
    background:url("./pages/home/logo.jpg");
    background-size: cover;
    background-position: center ;
}


#Profile {
    height: 80vh;
    width: 100%;
    background-color: #2F4050;
}

#ProfileTitle {
    text-align: center;
    color: white;
    margin-top: 5%;
}


.ProfileContainer {
    margin-top: 5%;
    border: dashed #673FD7;
    margin-left: 10%;
    margin-right: 10%;
}

.ProfileContainer .ProfileList {
    height: auto;
    width:100%;
    padding: 0;
}

.ProfileContainer .ProfileList .ProfileRow {
    width: 100%;
    height: 60px;
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    padding-left: 20%;
    padding-right: 20%;
    color: white;
    justify-content: space-between;
    align-items: center;
}
.ProfileList .ProfileRow:hover {
    cursor: pointer;
    background-color: #293846;
}

.SidebarList {
    margin-top: 10%;
    height: auto;
    padding: 0;
    width:100%;
}

.SidebarList .row {
    width: 100%;
    height: 60px;
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
}
.SidebarList .row:hover {
    cursor: pointer;
    background-color: #293846;
}

.row #icon {
    flex: 30%;
    place-items: center;
    display: grid;
}

.SidebarList .friendRow {
    width: 100%;
    height: 60px;
    list-style-type: none;
    margin: 1px;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
}

.SidebarList .friendRow:hover {
    cursor: pointer;
    background-color: #293846;
}

.row #title {
    flex: 70%
 }


.friendRow {
    flex: 30%;
    place-items: center;
    display: grid;
}

#footer {
    width: 100%;
    height: 10%;
    background-color: #2F4050;
}

#History {
    height: 100%;
    width: 100%;
    background-color: #2F4050;
}

#HistoryTitle {
    text-align: center;
    color: white;
    margin-top: 5%
}
.HistoryContaier {
    margin-top: 5%;
    border: dashed #673FD7;
    margin-left: 10%;
    margin-right: 10%;
    height: 60%;
    overflow-y: scroll;
}

.HistoryContaier .HistoryList {

    height: auto;
    padding: 0;
    width:100%;
}

.HistoryContaier .HistoryList .HistoryRow {
    width: 100%;
    height: 60px;
    list-style-type: none;
    margin: 0;
    display: flex;
    padding-left: 33%;
    padding-right: 33%;
    flex-direction: row;
    color: white;
    justify-content: space-between;
    align-items: center;
}

.HistoryContaier .HistoryList .HistoryRow #replay {
    place-items: center;
    display: grid;
}


.HistoryContaier .HistoryList .HistoryRow:hover {
    cursor: pointer;
    background-color: #293846;
}

#replay {
    color: #29a829;
}

#CreateRoom {
    height: 100%;
    width: 100%;
    background-color: #2F4050;
}

#CreateRoomTitle {
    text-align: center;
    color: white;
    margin-top: 5%
}


#CreateGame{
    height: 100%;
    width: 100%;
    background-color: #2F4050;
}

#CreateGameTitle {
    text-align: center;
    color: white;
    margin-top: 5%
}

.CreateGameInfos {
    margin-top: 5%;
    justify-content: center;
    color: white;
    border: dashed #673FD7;
    margin-left: 30%;
    margin-right: 30%;
    padding: 10px;
}

.CreateGameContainer {
    display: flex;
    margin-top: 5%;
    justify-content: center;
    color: white;
}

.file-input {
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
}

.file-send {
    background-color: #673FD7;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    margin: 0;
    padding-right: 10px;
    padding-left: 10px;
}

.file-send:hover {
    background-color: #5231b0;
}

.DownloadGuideButton {
    background-color: #673FD7;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    margin: 0;
    padding-right: 10px;
    padding-left: 10px;
}

.DownloadGuideButton:hover {
    background-color: #5231b0;
}

