@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
}

input {
    height: 40px;
    border: 1px solid #3eda55;
    padding-left: 20px;
}

input:focus {
    outline: none;
    border: 1px solid #093610
}

.outlined-btn {
    border: 1px solid #047857;
    color: #047857;
    padding: 10px 20px;
    height: 40px;
    border-radius: 4px;
    text-transform: uppercase;
}

.contained-btn {
    background-color: #047857;
    color: white;
    padding: 5px 20px;
    height: 40px;
    border-radius: 4px;
    text-transform: uppercase;
}