@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 13px
  }

* {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
}

input {
    height: 40px;
    border: 1px solid #3eda55;
    padding-left: 20px;
}

input:focus {
    outline: none;
    border: 1px solid #093610
}

.outlined-btn {
    border: 1px solid #047857;
    color: #047857;
    padding: 10px 20px;
    height: 40px;
    border-radius: 4px;
    text-transform: uppercase;
}

.contained-btn {
    background-color: #047857;
    color: white;
    padding: 5px 20px;
    height: 40px;
    border-radius: 4px;
    text-transform: uppercase;
}

#PlayButton {
    border: 1px solid #047857;
    background-color: #047857;
    color: #fff
}

#PlayButton:disabled {
    border: 1px solid #857e7e;
    background-color: #fff;
    color: #857e7e;
}

#AcceptGameButton {
    border: 1px solid #047857;
    background-color: #047857;
    color: #fff
}


#CancelGameButton {
    border: 1px solid #e10727;
    background-color: #e10727;
    color: #fff
}
